@font-face {
	font-family: "Gill Sans";
	src: url(Fonts/GillSansMTPro-Book.otf);
}
@font-face {
	font-family: "Gill Sans";
	src: url(Fonts/GillSansMTPro-Bold.otf);
	font-weight: bold;
}
@font-face {
	font-family: "Gill Sans";
	src: url(Fonts/GillSansMTPro-BookItalic.otf);
	font-style: italic;
}

h1, h2, h3, h4, h5, h6, p, a, td {
	font-family: "Gill Sans";
}

table {
	table-layout: fixed;
}

td.date {
	text-align: right;
	vertical-align: top;
	font-size: 15px;
	width: 20%;
}

button.species {
	font-family: "Gill Sans";
	margin-left: .5%;
	margin-right: .5%;
	margin-bottom: 1%;
	margin-top: 1%;
	text-align: center;
	border: 1px solid black;
	background: none;
	overflow: hidden;
	padding-bottom: 0;
	display: inline-block;
}

.page {
	padding-top: 150px;
	z-index: -2;
}

.spaceUnder>td {
	padding-bottom: 10px;
}

.citation {
	text-indent: -2em;
	padding-left: 2em;
}

.cv-header {
	font-family: "Gill Sans";
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	width: 100%;
    padding-top: 12px;
    padding-bottom: 4px;
    border: none;
    background: white;
}

.cv-header:hover {
	background: coral;
}

.cv-content {
	font-family: "Gill Sans";
	font-size: 18px;
	max-height: 0px;
	overflow: hidden;
	padding-left: 36px;
	padding-right: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	transition: max-height 0.2s ease-out;
}

.cv-content:active {
	overflow: visible;
}

.info-header {
	font-style: italic;
	font-size: 15px;
}

.info {
	font-size: 15px;
}

.info-header>td, .info>td {
	padding-left: 5%;
	column-span: 1.1;
}

.menu-item {
	float: left;
	font-family: "Gill Sans";
	font-weight: bold;
	font-size: 18px;
	display: inline-block;
	color: black;
	margin-top: 12px;
	margin-bottom: 4px;
	margin-left: 4px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 4px;
	overflow: hidden;
	text-decoration: none;
	background-color: transparent;
}

.menu-item-active {
	background-color: rgba(12, 177, 242, 0.2);
}

.menu-item:clicked {
	color: white;
}

#cv-full {
	width: 80%;
	margin: auto;
	margin-bottom: 0;
	padding-bottom: 0;
	border: 1px black solid;
}

#title-bar {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#header {
	position: fixed;
	width: 1000px;
	height: 60px;
	top: 0;
	left: 0;
	margin: 0;
	margin-right-right: 20px;
	padding-left: 0px;
	padding-bottom: 0px;
	color: black;
	z-index: 1;
}

#header::after {
	content: "";
	position: absolute;
	width: 1000px;
	height: 60px;
	top: 0;
	left: 20;
	margin: 0;
	margin-right-right: 20px;
	padding-left: 0px;
	padding-bottom: 0px;
	background-image: url("./../Media/TRES Flock.JPG");
	background-size: 30%;
	opacity: 0.1;
	z-index: -1;
}

#title {
	font-family: "Gill Sans";
	float: left;
	font-weight: bold;
	font-size: 24px;
	padding-top: 24px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 4px;
	margin: 0px;
	overflow: hidden;
}

#subtitle {
	font-family: "Gill Sans";
	float: left;
	font-weight: bold;
	font-size: 12px;
	padding-top: 22px;
	padding-bottom: 12px;
	padding-left: 3px;
	padding-right: 32px;
	margin: 0px;
	overflow: hidden;
}

#eBird-data {
	width: 80%;
	margin: auto;
	border: 1px black solid;
	margin-bottom: 450px;
}

#bird-list {
	width: 100%;
	margin: 0px;
	list-style-type: none;
}

#bird-map {
	position: fixed;
	width: 80%;
	left: 10%;
	right: 10%;
	height: 400px;
	bottom: 30px;
}
