@font-face {
	font-family: "Gill Sans";
	src: url(Fonts/GillSansMTPro-Book.otf);
}
@font-face {
	font-family: "Gill Sans";
	src: url(Fonts/GillSansMTPro-Bold.otf);
	font-weight: bold;
}
@font-face {
	font-family: "Gill Sans";
	src: url(Fonts/GillSansMTPro-BookItalic.otf);
	font-style: italic;
}

body {
	background-image: url(../Media/background.jpg);
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p, a, td, li {
	font-family: "Gill Sans";
}

table {
	table-layout: fixed;
}

td.date {
	text-align: right;
	vertical-align: top;
	width: 20%;
	font-size: 15px;
}

.page {
	border: 1px solid black;
	width: 80%;
	height: 100%;
	max-width: 1500px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 20px;
	background: white;
}

.spaceUnder>td {
	padding-bottom: 10px;
}

.menu-item {
	float: right;
	font-family: "Gill Sans";
	font-weight: bold;
	font-size: 17px;
	display: inline-block;
	color: black;
	margin-left: 3px;
	padding-top: .8em;
	padding-bottom: .5em;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: -4px;
	overflow: hidden;
	text-decoration: none;
	background-color: transparent;
	border: 2px solid white;
	align-items: middle;
}

.menu-item-active {
	background-color: lightgray;
	color: black;
	border: 2px solid gray;
}

.comment {
	color: rgba(73, 56, 41, 1);
	font-weight: bold;
}

.citation {
	text-indent: -2em;
	padding-left: 2em;
}

.cv-header {
	font-family: "Gill Sans";
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	width: 100%;
	max-width: 1500px;
    padding-top: 8px;
    padding-bottom: 4px;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
    background: white;
}

.cv-header:hover, .cv-header:focus {
	color: black;
	background: lightgray;
}

.cv-header.#last {
	border-bottom: 1px solid black;
}

.cv-header-active {
	background: gray;
	color: white;
}

.cv-header-active:hover, .cv-header-active:focus {
	color: black;
	background: lightgray;
}

.cv-content {
	font-family: "Gill Sans";
	font-size: 18px;
	max-height: 0px;
	overflow: hidden;
	padding-left: 1em;
	padding-right: 0;
	padding-bottom: 0;
	margin-bottom: 2px;
	transition: max-height 0.2s ease-out;
}

.cv-content> table {
	width: 100%;
}
.cv-content:active {
	overflow: visible;
}

.info-header {
	font-style: italic;
	font-size: 15px;
}

.info {
	font-size: 15px;
}

.info-header>td, .info>td {
	padding-left: 5%;
	column-span: 1.3;
}

.order-header {
	font-family: "Gill Sans";
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	width: 100%;
	max-width: 1500px;
    padding-top: 10px;
    padding-bottom: 5px;
    border: none;
    border-top: 1px solid black;
    border-bottom: none;
    color: black;
    background: white;
}

.order-header:hover, .order-header:focus {
	color: black;
	background: lightgray;
}

.order-header-none {
	font-family: "Gill Sans";
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	width: 100%;
	max-width: 1500px;
    padding-top: 10px;
    padding-bottom: 5px;
    border: none;
    border-top: 1px solid black;
    border-bottom: none;
    color: lightgray;
    background: white;
}

.order-header-active {
	background: gray;
	color: white;
	border-bottom: 1px solid black;
}

.order-header-active:hover, .order-header-active:focus {
	color: black;
	background: lightgray;
}


.order-header-none:hover, .order-header-none:focus {
	color: gray;
	background: lightgray;
}

.family-list {
	max-height: 0px;
	overflow: hidden;
	padding: 0;
	margin: 0;
	transition: max-height 0.2s ease-out;
}

.family-list:active {
	overflow: visible;
}

.family-header {
	font-family: "Gill Sans";
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	width: 100%;
	max-width: 1500px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 30px;
    border: none;
    color: black;
    background: white;
}

.family-header:hover, .family-header:focus {
	color: black;
	background: lightgray;
}

.family-header-active {
	background: gray;
	color: white;
}

.family-header-none {
	font-family: "Gill Sans";
	font-size: 10px;
	font-weight: bold;
	text-align: left;
	width: 100%;
	max-width: 1500px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 30px;
    border: none;
    background: none;
    color: lightgray;
}

.family-header-none:hover, .family-header-none:focus {
    color: gray;
    background: lightgray;
}

.species-list {
	list-style-type: none;
	padding-left: 0;
}
 
.species {
	font-family: "Gill Sans";
	font-size: 15px;
	background: white;
	padding-top: 1em;
	padding-bottom: .75em;
	padding-left: .75em;
	padding-right: .75em;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 1px solid black;
}

.species:hover, .species:focus {
	background: gray;
	color: white;
}

.has-img{
	background: rgba(124, 191, 134, 0.5);
}

.has-img:hover, .has-img:focus {
	color: black;
	background: rgba(124, 191, 134, 1);
}

.bird-img {
	display: block;
	border: 1px solid black;
	margin: auto;
}

.bird-stat {
	background: black;
}

.album-art {
	display: inline;
	float: left;
	border: 6px solid black;
	margin: 4px;
	width: 100px;
	height: 100px;
}

.book-cover {
	display: inline;
	float: left;
	border: 6px solid black;
	margin: 4px;
	width: 125px;
	height: 200px;
}

#title-bar {
	list-style-type: none;
	width: 875px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	border: 2px solid black;
	background: white;
	overflow: hidden;
	z-index: 3;
}

#header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 16px;
	padding-bottom: 16px;
	z-index: 3;
	background: lightgray;
}

#title {
	font-family: "Gill Sans";
	color: black;
	float: left;
	font-weight: bold;
	font-size: 24px;
	padding: auto;
	overflow: hidden;
}

#subtitle {
	font-family: "Gill Sans";
	color: black;
	float: left;
	font-weight: bold;
	font-size: 12px;
	padding-top: auto;
	padding-bottom: auto;
	padding-left: 5px;
	padding-right: 32px;
	margin: 0px;
	overflow: hidden;
}

#about-info {
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15%;
	padding-right: 15%;
}

#about-name {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;	
	margin: 0;
	padding-top: 10px;
	padding-bottom: 1px;
	margin-bottom: 1px;
}

#about-contact {
	padding-top: 1px;
	padding-left: 0px;
	margin-top: 1px;
	width: 100%;
	text-align: center;
}

#about-contact>li {
	text-decoration: none;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

#bio-pic {
	border: 1px solid black;
	width: 80%;
	display: block;
	margin: auto;
	margin-bottom: 30px;
	max-width: 875px;
}

#pressing-questions {
	font-size: 12px;
	color: coral;
}

#cv-full {
	width: 80%;
	max-width: 1500px;
	margin: auto;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-right: 10px;
}
	
#cv-title {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;	
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

#last.cv-header, #last.order-header{
	border-bottom: 1px solid black;
}

#eBird-data {
	width: 80%;
	max-width: 700px;
	margin: auto;
	margin-bottom: 0;
	padding-bottom: 0;
}

#bird-about {
	font-size: 18px;
}

#species-overlay {
	position: relative;
	background: white;
	z-index: -1;
}

#overlay-back {
	display: block;
	position: absolute;
	font-family: "Gill Sans";
	font-weight: bold;
	font-size: 15px;
	background: white;
	padding: .5em;
	border: 1px solid black;
	margin-top: 10px;
}

#overlay-back:hover, #overlay-back:focus {
	background: coral;
}

#family-label {
	display: inline-block;
	font-family: "Gill Sans";
	font-weight: normal;
	font-size: 20px;
	margin-top: 60px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#rightcolumn-overlay{
	position: fixed;
	margin-left: 280px;
	top: 200px;
	width: 40%;
	height: 60%;
	max-width: 550px;
	align-content: center;
	overflow: visible;
	visibility: hidden;
	z-index: -1;
}

#bird-map {
	position: relative;
	left: 0;
	width: 70%;
	height: 45%;
	margin: auto;
	max-height: 250px;
	border: 1px solid black;
	display: block;
}

#species-labelBox {
	position: relative;
	width: 100%;
	font-size: 18px;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#species-label-common {
	text-align: center;
	font-weight: bold;
	padding: 0;
	margin: 0;
	margin-top: 10px;
}

#species-label-scientific {
	text-align: center;
	font-style: italic;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

#bird-photoBox {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 40%;
	max-width: 450px;
	max-height: 350px;
	border: none;
	margin: auto;
	display: block;
}

#pending-message:after {
	font-size: inherit;
  	overflow: hidden;
  	display: inline-block;
  	vertical-align: bottom;
  	font-size: 18px;
  	-webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  	animation: ellipsis steps(4,end) 900ms infinite;
  	content: "\2026";
  	width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

#photo-legend { 
	background: rgba(124, 191, 134, 0.5);
	border: 1px solid black;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin-right: 4px;
}

#papers-parent {
	position: absolute;
	display: inline;
	top: 150px;
	left: 0;
	width: 37%;
	margin-left: 10%;
}

#papers-header {
	font-size: 25px;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}

#papers {
	position: relative;
	display: block;
	border: 1px solid black;
	overflow-y: scroll;
	height: 638px;
	margin-bottom: 30px;
	background: lightgray;
}

#papers>.citation {
	font-size: 15px;
	margin: 8px;
}

#papers::-webkit-scrollbar {
	display: none;
}

#media-parent {
	position: absolute;
	display: inline;
	top: 150px;
	right: 0;
	width: 45%;
	margin-right: 10%;
}

#music-header {
	font-size: 25px;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;	
}

#music {
	position: relative;
	width: 330px;
	height: 280px;
	margin: auto;
	border: 1px solid black;
	overflow-y: scroll;
	display: block;
	background: lightgray;
}

#music::-webkit-scrollbar {
	display: none;
}

#album-list {
	list-style-type: none;
	width: 300px;
	text-align: center;
	padding: auto;
	margin-top: 10px;
}

#books-header {
	font-size: 25px;
	display: block;
	margin: 0;
	margin-top: 30px;
	padding: 0;
	text-align: center;
}

#books {
	position: relative;
	width: 330px;
	height: 296px;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	border: 1px solid black;
	padding: auto;
	overflow-y: scroll;
	display: block;
	background: lightgray;
}

#books::-webkit-scrollbar {
	display: block;
	padding:auto;
}

#book-list {
	list-style-type: none;
	width: 40%;
    	text-align: center;
    	padding: 30%;
    	padding-top: 0;
}

#semiotics-content {
	padding: 20px;
}

#akatulo-content {
	padding: 20px;
}